.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main .block button {
    display: block;
    background-color: #b3093f;
    color: #451531;
    border-color: #b3093f;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.5s;
    width: 100%;
    box-shadow: none;
}

.main .block button:hover {
    background-color: #be1249;
    transition: 0.5s;
}

.style1 {
    background-color: chocolate;
    color: cornsilk;
    width: 220px;
    height: 100px;
    border-radius: 2px;
    padding: 30px;
}

.style2 {
    color: chocolate;
    width: 440px;
    height: 200px;
    background-color: lavender;
}

