.main-background {
    width: 400px;
    height: 400px;
    border: 1px solid #cecece;
    border-radius: 4px;
}

.red-button {
    background-color: #FF0000;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #FF0000;
    padding: 10px;
    box-shadow: none;
    cursor: pointer;
}

.green-button {
    background-color: #00FF00;
    color: #000000;
    border-radius: 4px;
    border-color: #00FF00;
    padding: 10px;
    box-shadow: none;
    cursor: pointer;
}

.blue-button {
    background-color: #0000FF;
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #0000FF;
    padding: 10px;
    box-shadow: none;
    cursor: pointer;
}